p{
    margin: 0;
    padding: 0;
}
.completed_wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color:#1D7EAF;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    cursor: pointer;
}
.display_none{
    display:none;
}
.rotate_deg{
    transition: 0.3s;
    transform:rotate(180deg)
}